<span *ngIf="!hide_spinner"> <mat-spinner></mat-spinner> </span>

<mat-sidenav-container *ngIf="hide_spinner">      

  <mat-sidenav #sidenav class="sidenav">
    <side-menus (click)="sidenav.close()"></side-menus>
  </mat-sidenav>

  <top-toolbar [SIDENAV]="sidenav" ></top-toolbar>
  <!-- #########################################################-->


  <div class="zo1-container">

    <form [formGroup]="submitNewPriceForm" (submit)="addNewSubmitPrice()">

      <div id="topdiv">
        <a [routerLink]="['/sp']" mat-raised-button class="top-49">Cancel</a>
        <button type="submit" mat-raised-button color="primary" class="top-49">Submit Price</button>
      </div>

      <br />
      <br />

      <div class="row">

        <div class="zo1-info">
          <mat-card>
            <h3> {{ item.name }} </h3>
            <p><img class="w125" src="{{item.image}}"></p>
            <p>Size: {{item.size}}  </p>

          </mat-card>
        </div>

      </div>

      <br />

      <div class="row">

        <div class="zo1-submit">
          <mat-card>
            <p *ngIf="errors.error" class="alert-danger">{{errors.error}}</p>

            &nbsp;&nbsp;<mat-checkbox
              formControlName="soldOut"
              (change)="clickSoldOut()"
              color="primary">{{labels.sold_out_8}}
          </mat-checkbox>

            <br />
            <br />

            <span *ngIf="!soldOut">
              <mat-form-field class="input-width-90">
                <input
                    matInput
                    type="tel"
                    dividerColor="primary"
                    formControlName="price"
                    placeholder={{labels.price_7}}>
              </mat-form-field>
              <div *ngIf="errors.price_isNumberic" class="alert-danger">{{msgs.price_isNumberic}}</div>
              <div *ngIf="errors.price_minMax" class="alert-danger">{{msgs.price_minMax}}</div>
              <br />
              <br />
            </span>

            Maxiumum Quantity: {{quantity}} <br />
            <mat-slider
                thumbLabel
                tickInterval="1"
                min="1"
                max="{{_userService.quantityMax}}"
                step="1"
                value="{{_userService.quantityDefault}}"
                (change)=quantitySlider($event)>
            </mat-slider>

            <br />

            <div>Store(s):</div>
            <input type="text" formControlName="storeIds" *ngIf=false>
            <search-stores [store_Error]="store_Error"  (storeListEvent)="storeListChanged($event)"></search-stores>

          </mat-card>
        </div>

      </div>

    </form>

  </div>

  <br />

  <!-- #########################################################-->
</mat-sidenav-container>

